<a href="https://colab.research.google.com/github/jeekyung/ESAA/blob/main/Do_it!_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EC%9D%84_%EC%9C%84%ED%95%9C_%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%9E%85%EB%AC%B8_pg_241~242%2C256~263_%ED%95%84%EC%82%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**12] 시계열 데이터**
---

## **12-1 datetime 오브젝트**

---

datetime 라이브러리는 날짜와 시간을 처리하는 등의 다양한 기능을 제공하는 파이썬 라이브러리

date 오브젝트: 날짜 처리

time 오브젝트: 시간 처리

datetime 오브젝트: 날짜와 시간 모두 처리

**datetime 오브젝트 사용하기**

In [1]:
from datetime import datetime

#now,today 메서드로 현재 날짜 및 시간 출력 가능
now1 = datetime.now()
print(now1)

now2 = datetime.today()
print(now2)

2022-04-11 05:50:43.180398
2022-04-11 05:50:43.181019

In [2]:
#시간을 직접 입력하여 인자로 전달 가능
t1 = datetime.now()
t2 = datetime(1970,1,1)             #날짜만 설정
t3 = datetime(1970,12,12,13,24,34)
print(t1)
print(t2)
print(t3)

2022-04-11 05:51:58.590608
1970-01-01 00:00:00
1970-12-12 13:24:34

**테슬라 주식 데이터로 시간 계산하기**

pandas-datareader 라이브러리로 주식 데이터 불러오기

In [4]:
pip install pandas-datareader

Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.2.6)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)

In [32]:
#geet_data_quanal 메서드에 TSLA라는 문자열을 전달하여 테슬라의 주식 데이터를 내려받기
#to_csv 메서드를 사용하여 data 폴더 안에 'tesla_stock_quandl.csv'라는 이름으로 저장

import pandas as pd

pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

#tesla에는 데이터 프레임이 저장됨
tesla = pdr.get_data_quandl('TSLA', api_key = 'i_qMYr1sQB5Sc9H5ykDZ')

#telsa에 저장된 데이터프레임을 파일로 저장
tesla.to_csv('/content/drive/MyDrive/data/tesla_stock_quandl.csv')

tesla 데이터프레임의 data열은  문자열로 저장되어있음

시간 계산을 위해 이를 datetime 오브젝트로 자료형 변환

In [29]:
print(tesla.head())

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

In [33]:
#read_csv 메서드로 데이터 집합(telsa_stock_quandl.csv)를 불러올 때 parse_dates 인자에 Date 열 전달
tesla = pd.read_csv('/content/drive/MyDrive/data/tesla_stock_quandl.csv',parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        240 non-null    datetime64[ns]
 1   Open        240 non-null    float64
 2   High        240 non-null    float64
 3   Low         240 non-null    float64
 4   Close       240 non-null    float64
 5   Volume      240 non-null    float64
 6   ExDividend  240 non-null    float64
 7   SplitRatio  240 non-null    float64
 8   AdjOpen     240 non-null    float64
 9   AdjHigh     240 non-null    float64
 10  AdjLow      240 non-null    float64
 11  AdjClose    240 non-null    float64
 12  AdjVolume   240 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 24.5 KB
None

->Date 열의 자료형이 datetime 오브젝트로 변환됨

In [37]:
#예시-2018년 3월의 데이터만 추출
print(tesla.loc[(tesla.Date.dt.year == 2018) & (tesla.Date.dt.month == 3)])

         Date    Open    High       Low   Close      Volume  ExDividend  \
0  2018-03-27  304.00  304.27  277.1800  279.18  13696168.0         0.0
1  2018-03-26  307.34  307.59  291.3600  304.18   8324639.0         0.0
2  2018-03-23  311.25  311.61  300.4500  301.54   6600538.0         0.0
3  2018-03-22  313.89  318.82  308.1800  309.10   4914307.0         0.0
4  2018-03-21  310.25  322.44  310.1900  316.53   5927881.0         0.0
5  2018-03-20  314.87  316.25  308.7600  310.55   4726182.0         0.0
6  2018-03-19  316.50  320.75  309.6700  313.56   7440766.0         0.0
7  2018-03-16  325.96  327.40  319.0700  321.35   6058612.0         0.0
8  2018-03-15  329.38  332.85  321.1000  325.60   6366922.0         0.0
9  2018-03-14  336.76  339.81  323.9300  326.63   7932511.0         0.0
10 2018-03-13  344.92  345.12  336.2635  341.84   5932110.0         0.0
11 2018-03-12  328.61  347.21  326.5000  345.51   8212156.0         0.0
12 2018-03-09  324.10  328.49  322.3700  327.17   5479716.0         0.0
13 2018-03-08  332.86  333.30  326.2740  329.10   3476944.0         0.0
14 2018-03-07  325.44  332.50  321.7400  332.30   5007297.0         0.0
15 2018-03-06  333.75  336.37  327.0300  328.20   4285744.0         0.0
16 2018-03-05  332.39  337.75  329.2929  333.35   3823769.0         0.0
17 2018-03-02  326.98  335.22  322.9700  335.12   5092829.0         0.0
18 2018-03-01  345.01  348.67  330.0700  330.93   6885601.0         0.0

    SplitRatio  AdjOpen  AdjHigh    AdjLow  AdjClose   AdjVolume
0          1.0   304.00   304.27  277.1800    279.18  13696168.0
1          1.0   307.34   307.59  291.3600    304.18   8324639.0
2          1.0   311.25   311.61  300.4500    301.54   6600538.0
3          1.0   313.89   318.82  308.1800    309.10   4914307.0
4          1.0   310.25   322.44  310.1900    316.53   5927881.0
5          1.0   314.87   316.25  308.7600    310.55   4726182.0
6          1.0   316.50   320.75  309.6700    313.56   7440766.0
7          1.0   325.96   327.40  319.0700    321.35   6058612.0
8          1.0   329.38   332.85  321.1000    325.60   6366922.0
9          1.0   336.76   339.81  323.9300    326.63   7932511.0
10         1.0   344.92   345.12  336.2635    341.84   5932110.0
11         1.0   328.61   347.21  326.5000    345.51   8212156.0
12         1.0   324.10   328.49  322.3700    327.17   5479716.0
13         1.0   332.86   333.30  326.2740    329.10   3476944.0
14         1.0   325.44   332.50  321.7400    332.30   5007297.0
15         1.0   333.75   336.37  327.0300    328.20   4285744.0
16         1.0   332.39   337.75  329.2929    333.35   3823769.0
17         1.0   326.98   335.22  322.9700    335.12   5092829.0
18         1.0   345.01   348.67  330.0700    330.93   6885601.0

## ■ datetime 오브젝트와 인덱스 - DatetimeIndex

---

데이터프레임의 행 번호 대신 datetime 오브젝트를 데이터프레임의 인덱스로 설정하면 원하는 시간의 데이터를 바로 추출할 수 있음

**datetime 오브젝트를 인덱스로 설정해 데이터 추출하기**

In [38]:
#Data 열을 tesla 데이터프레임의 인덱스로 지정
tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2017-04-26', '2017-04-25', '2017-04-24', '2017-04-21',
               '2017-04-20', '2017-04-19', '2017-04-18', '2017-04-17',
               '2017-04-13', '2017-04-12'],
              dtype='datetime64[ns]', name='Date', length=240, freq=None)

In [41]:
#예시1-2018년의 데이터 바로 추출
print(tesla['2018'].iloc[:5, :5])

                 Date    Open    High     Low   Close
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

In [42]:
#예시2-2018년 3월의 데이터 추출
print(tesla['2018-03'].iloc[:, :5])

                 Date    Open    High       Low   Close
Date
2018-03-27 2018-03-27  304.00  304.27  277.1800  279.18
2018-03-26 2018-03-26  307.34  307.59  291.3600  304.18
2018-03-23 2018-03-23  311.25  311.61  300.4500  301.54
2018-03-22 2018-03-22  313.89  318.82  308.1800  309.10
2018-03-21 2018-03-21  310.25  322.44  310.1900  316.53
2018-03-20 2018-03-20  314.87  316.25  308.7600  310.55
2018-03-19 2018-03-19  316.50  320.75  309.6700  313.56
2018-03-16 2018-03-16  325.96  327.40  319.0700  321.35
2018-03-15 2018-03-15  329.38  332.85  321.1000  325.60
2018-03-14 2018-03-14  336.76  339.81  323.9300  326.63
2018-03-13 2018-03-13  344.92  345.12  336.2635  341.84
2018-03-12 2018-03-12  328.61  347.21  326.5000  345.51
2018-03-09 2018-03-09  324.10  328.49  322.3700  327.17
2018-03-08 2018-03-08  332.86  333.30  326.2740  329.10
2018-03-07 2018-03-07  325.44  332.50  321.7400  332.30
2018-03-06 2018-03-06  333.75  336.37  327.0300  328.20
2018-03-05 2018-03-05  332.39  337.75  329.2929  333.35
2018-03-02 2018-03-02  326.98  335.22  322.9700  335.12
2018-03-01 2018-03-01  345.01  348.67  330.0700  330.93

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

## ■ 시간 간격과 인덱스 - TimedeltaIndex

---

주식 데이터에서 최초 5일간 수집된 데이터만 살펴보고싶다 -> 시간 간격을 인덱스로 지정하여 데이터 추출하기

**시간 간격ㅇ르 인덱스로 지정해 데이터 추출하기**

In [43]:
#Date 열에서 Date 열의 최솟값(2010-06-29)을 빼면 데이터를 수집한 이후에 시간이 얼마나 흘렀는지 알 수 있다.
#Date 열에서 Date 열의 최솟값을 뺸 다음 ref_date열로 추가하기
tesla['ref_date'] = tesla['Date'] - tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

           ref_date
Date
2018-03-27 349 days
2018-03-26 348 days
2018-03-23 345 days
2018-03-22 344 days
2018-03-21 343 days

In [44]:
#ref_date 열을 인덱스로 지정 - 시간 간격을 이용하여 데이터 추출
tesla.index = tesla['ref_date']
print(tesla.iloc[:5, :5])

               Date    Open    High     Low   Close
ref_date
349 days 2018-03-27  304.00  304.27  277.18  279.18
348 days 2018-03-26  307.34  307.59  291.36  304.18
345 days 2018-03-23  311.25  311.61  300.45  301.54
344 days 2018-03-22  313.89  318.82  308.18  309.10
343 days 2018-03-21  310.25  322.44  310.19  316.53

In [45]:
#예시 - 데이터 수집 후 최초 5일의 데이터 추출
print(tesla['5 days':].iloc[:5, :5])

               Date    Open      High     Low   Close
ref_date
5 days   2017-04-17  302.70  304.0000  298.68  301.44
1 days   2017-04-13  296.70  307.3900  295.30  304.00
0 days   2017-04-12  306.34  308.4481  296.32  296.84

## ■ 시간 범위와 인덱스

---

특정 일에 누락된 데이터도 포함시켜 데이터 살펴보기 위한 방법 - 임의로 시간범위를 생성하여 인덱스로 지정

**시간 범위 생성해 인덱스로 지정하기**

In [52]:
ebola = pd.read_csv('/content/drive/MyDrive/data/country_timeseries.csv', parse_dates = [0])
print(ebola.iloc[:5,:5])   #01월 01일 데이터 누락됨

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

In [54]:
#data_range 메서드를 사용하여 2014-12-31부터 2015-01-05 사이의 시간 인덱스(DatetimeIndex) 생성
head_range = pd.date_range(start = '2014-12-31', end = '2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [55]:
#원본 데이터 손상 방지를 위해 ebola 데이터 프레임의 앞쪽 5개의 데이터 추출하여 새로운 데이터프레임 만들기
#Date 열을 인덱스로 지정 후 앞서 생성한 시간 범위를 인덱스로 지정
ebola_5 = ebola.head()
ebola_5.index = ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5, :5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0

**+)시간 범위의 주기 설정하기**

시간 범위를 인덱스로 지정하면 DatetimeIndex 자료형 생성됨.

DatetimeIndex에는 <u>freq 속성</u>이 포함되어있음

freq 속성값을 지정하여 시간 간격 조정 가능

B: 평일만 포함

C: 사용자가 정의한 평일만 포함

D: 달력 일자 단위

W: 주간 단위

M: 월 마지막 날만 포함

SM: 15일과 월 마지막 날만 포함

BM: M 주기의 값이 휴일이면 제외하고 평일만 포함

CBM: BM에 사용자 정의 평일을 적용

MS: 월 시작일만 포함

SMS: 월 시작일과 15일만 포함

BMS: MS 주기의 값이 휴일이면 제외하고 평일만 포함

CBMS: BMS에 사용자 정의 평일을 적용

Q: 3,6,9,12월 분기 마지막 날만 포함

BQ: 3,6,9,12월 분기 마지막 날이 휴일이면 제외하고 평일만 포함

QS: 3,6,9,12월 분기 시작일만 포함

BQS: 3,6,9,12월 분기 시작일이 휴일이면 제외하고 평일만 포함

A: 년의 마지막 날만 포함

BA: 년의 마지막 날이 휴일이면 제외하고 평일만 포함

AS: 년의 시작일만 포함

BAS: 년의 시작일이 휴일이면 제외하고 평일만 포함

BH: 평일을 시간 단위로 포함(09:00 ~ 16:00)

H: 시간 단위로 포함(00:00~00:00)